<div class="sd-container col-12 offset-md-3 col-md-6">
  <div class='row'>
    <div class="card-holder col-6 col-md-4">
      <div class="card" (click)='onPatients()'>
        <img class="card-img-top" src="assets//Patient_MD.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Patients</p>
        </div>
      </div>
    </div>
    <div class="card-holder col-6 col-md-4">
        <div class="card" (click)='onProviders()'>
        <img class="card-img-top" src="assets/Providers.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Providers</p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
      <div class="card-holder col-6 col-md-4">
          <div class="card" (click)='onDaySheet()'>
        <img class="card-img-top" src="assets/Daysheet.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Daysheet</p>
        </div>
      </div>
    </div>
    <div class="card-holder col-6 col-md-4">
        <div class="card" (click)='onMessages()'>
        <img class="card-img-top" src="assets/Message.svg" alt="Card image cap">
        <div class="card-badge" *ngIf="messages > 0">
          <div class="card-badge-text">
            {{messages}}
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Messages</p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
      <div class="card-holder col-6 col-md-4">
          <div class="card" (click)='onReports()'>
        <img class="card-img-top" src="assets/Reports.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Reports</p>
        </div>
      </div>
    </div>
    <div class="card-holder col-6 col-md-4">
        <div class="card" (click)='onSetting()'>
        <img class="card-img-top" src="assets/Settings.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Settings</p>
        </div>
      </div>
    </div>
  </div>
</div>
