<div class="sd-container">
  <div class='row'>
    <div class="card col-md-4" (click)='onPatients()' >
      <img class="card-img-top" src="assets//Patient_MD.svg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Patients</p>
      </div>
    </div>
    <div class="card col-md-4" (click)='onProviders()' >
      <img class="card-img-top" src="assets/Providers.svg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Providers</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="card col-md-4" (click)='onDaySheet()' >
      <img class="card-img-top" src="assets/Daysheet.svg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Daysheet</p>
      </div>
    </div>
    <div class="card col-md-4" (click)='onMessages()' >
      <img class="card-img-top" src="assets/Message.svg" alt="Card image cap">
      <div class="card-badge" *ngIf="messages > 0">
        <div class="card-badge-text">
            {{messages}}
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Messages</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="card col-md-4" (click)='onReports()' >
      <img class="card-img-top" src="assets/Reports.svg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Reports</p>
      </div>
    </div>
    <div class="card col-md-4" (click)='onSetting()' >
      <img class="card-img-top" src="assets/Settings.svg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Settings</p>
      </div>
    </div>
  </div>
</div>
