<header>
  <nav class="navbar navbar-expand-xl navbar-inverse bg-primary">

      <a class="navbar-brand" href="#">
          <img src="../../../assets/lock.png" width="80" height="80" class="d-inline-block" alt="">
        </a>
        <div class="navbar-brand-title">
            Secure <span style='color: white;'>DaySheet</span>
        </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" (click)="menu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-toggler-right navbar-toggler-icon" [ngbCollapse]="isActive">
      <ul class="navbar-nav mr-auto">
        <li ngbDropdown class="nav-item dropdown text-primary">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownAbout">
            <a class="dropdown-item text-primary" routerLink='practice' routerLinkActive="active" (click)="isActive = true">Our Practice</a>
            <a class="dropdown-item text-primary" routerLink='team' routerLinkActive="active" (click)="isActive = true">Meet our Team</a>
            <a class="dropdown-item text-primary" routerLink='doctors' routerLinkActive="active" (click)="isActive = true">Our Doctors</a>
            <a class="dropdown-item text-primary" routerLink='staff' routerLinkActive="active" (click)="isActive = true">Our Staff</a>
            <a class="dropdown-item text-primary" routerLink='contact' routerLinkActive="active" (click)="isActive = true">Contact Us</a>
          </div>
        </li>

        <li *ngIf='isAdmin' ngbDropdown class="nav-item dropdown text-primary">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownAdmin">
            <a class="dropdown-item text-primary" routerLink='product' routerLinkActive="active" (click)="isActive = true">Products</a>
            <a class="dropdown-item text-primary" routerLink='vendor' routerLinkActive="active" (click)="isActive = true">Vendors</a>
            <a class="dropdown-item text-primary" routerLink='brand' routerLinkActive="active" (click)="isActive = true">Brands</a>
            <a class="dropdown-item text-primary" routerLink='unit' routerLinkActive="active" (click)="isActive = true">Units</a>
            <a class="dropdown-item text-primary" routerLink='category' routerLinkActive="active" (click)="isActive = true">Categories</a>
            <a class="dropdown-item text-primary" routerLink='campaign' routerLinkActive="active" (click)="isActive = true">Campaign</a>
          </div>
        </li>


        <li *ngIf='!authenticated' ngbDropdown class="nav-item dropdown text-primary">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownLogin">
            <a class="dropdown-item text-primary" routerLink='login' routerLinkActive="active" (click)="isActive = true">Login</a>
            <a class="dropdown-item text-primary" routerLink='register' routerLinkActive="active" (click)="isActive = true">Register</a>
          </div>
        </li>

        <li *ngIf='authenticated' ngbDropdown class="nav-item dropdown text-primary">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userName}}</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownLogin">
              <a class="dropdown-item text-primary" routerLink='orders' routerLinkActive="active" (click)="isActive = true">My order</a>
              <a class="dropdown-item text-primary" routerLink='campaigns' routerLinkActive="active" (click)="isActive = true">My campaigns</a>
              <a class="dropdown-item text-primary" routerLinkActive="active" (click)="logout();isActive = true">Logout</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>
</header>
