<header>
  <nav class="navbar navbar-expand-xl navbar-dark bg-primary">

    <a class="navbar-brand" href="#">
      <img src="assets/lock.png" width="80" height="80" class="d-inline-block" alt="">
    </a>
    <div class="navbar-brand-title">
      Secure <span style='color: white;'>DaySheet</span>
    </div>

    <ul class="navbar-nav ml-auto">
      <li *ngIf='authenticated' ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle text-primary" id="dropdownLogin" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">{{userName}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownLogin">
          <a class="dropdown-item text-primary" routerLinkActive="active" (click)="logout();isActive = true">Logout</a>
        </div>
      </li>
      <img *ngIf='!authenticated' src="assets/Toggle.svg" class="ml-auto" height=80  routerLink='login'>
    </ul>
  </nav>
</header>
