@import "../../../../common/variables";


.edit-row {
  display: flex;
  border-bottom: 1px solid $light;
}

.edit-input input {
  width: 100%;
  border: 0px;
  line-height: 24pt;
}

.edit-input input:focus {
  outline: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edit-cancel {
  color: red;
  text-align-last: right;
  font-size: 20pt;
}

::-webkit-input-placeholder { /* Edge */
  color: $light;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $light;
}

::placeholder {
  color: $light;
}

input[type=text] {
  -webkit-appearance: none;
}

input[type=text]::-ms-clear { display: none; }
