@import "../../../../common/variables";

.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  width: 100%;
  margin: 0;
}

.card {
  width:100%;
  margin-right:0;
  border: none;
}

.card-body {
  padding: 0px;
}

.nav-button {
  font-size: 12pt;
  font-weight: bold;
  color: $primary;
  background: none;
  border: none;
}
.nav-button:disabled {
  color: $light;
}

.card-body {
  font-size: 12pt;
  line-height: 36pt;
  font-weight: bold;
  color: black;
}

.name-edit-row {
  display: flex;
  border-bottom: 1 solid $light;
}

.name-input input {
  width: 100%;
  border: 0px;
}

::-webkit-input-placeholder { /* Edge */
  color: $light;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $light;
}

::placeholder {
  color: $light;
}

input[type=text] {
  -webkit-appearance: none;
}

input[type=text]::-ms-clear { display: none; }

.add {
  color: green;
  text-align-last: left;
  font-size: 20pt;
}

.add-row {
  display: flex;
  border-bottom: 1px solid $light;
  line-height: 48px;
  margin-bottom: 25px;
}

.add-label {
  padding-left: 0px;
 }

 .delete-patient {
   color: red;
   width: 100%;
   border: none;
   background: $light;
   font-weight: bold;
   text-align: center;
   line-height: 24pt
 }

 .delete-patient:focus {
   border: none;
   outline: none;
   -webkit-box-shadow: none;
   box-shadow: none;
 }

 .delete-patient:active {
  border: none;
  outline: none;
}
