<div class="sd-container">
  <div class="sd-card">
    <div class="sd-card-body">
      <app-navigation [prevLable]="prevLabel" nextLable="Edit" (next)="onEdit()" (prev)="onBack()"></app-navigation>

      <img src="assets/Patient_MD.svg" class="img-center" />
      <div class="sd-name">
        {{item.LastName}}, {{item.FirstName}}
      </div>
      <div class="row sd-command-bar">
        <div class="col-3">
          <div>
            <img class="command-img" src="assets/Encounter.svg">
          </div>
          <div>
            Encounter
          </div>
        </div>
        <div class="col-3">
          <div>
            <img class="command-img" src="assets/Payment.svg">
          </div>
          <div>
            Payment
          </div>
        </div>
        <div class="col-3">
          <div>
            <img class="command-img" src="assets/Note.svg">
          </div>
          <div>
            Notes
          </div>
        </div>
        <div class="col-3">
          <div>
            <img class="command-img" src="assets/Upload.svg">
          </div>
          <div style="text-align: center;">
            Upload
          </div>
        </div>
      </div>
      <div class="sd-data-group">
        <div class="sd-label">Address</div>
        <div class="row col-12" style="display: flex;" *ngFor="let address of item.Addresses">
          <div class="sd-data col-sm-2 col-3">
            {{address.Type}}
          </div>
          <div>
            <div class="sd-data">{{address.AddressLine1}}</div>
            <div class="sd-data" *ngIf="address.AddressLine2 && address.AddressLine2.length > 0">
              {{address.AddressLine1}}</div>
            <div class="sd-data">{{address.City}}, {{address.State}} {{address.ZipCode}}</div>
          </div>
        </div>
      </div>
      <div class="sd-data-group">
        <div class="sd-label">Contact Information</div>
        <div class="row col-12" *ngFor="let info of item.ContactInfos">
          <div class="sd-data col-sm-2 col-3">{{info.Type}}:</div>
          <div class="sd-data">{{info.Info}}</div>
        </div>
      </div>
      <div class="sd-data-group">
        <div class="sd-label">DOB</div>
        <div class="sd-data-row">{{item.DOB}}</div>
      </div>
      <div class="sd-data-group">
        <div class="sd-label">Gender</div>
        <div class="sd-data-row">{{item.Gender}}</div>
      </div>
    </div>
  </div>
</div>
