@import "../../../../common/variables";

$BREAK: 414;


.CONTAINER {
  width: #{$BREAK}px;
  margin-left: auto;
  margin-right: auto;
}

.BORDER {
  border: 1px solid black;
  margin-left: 1px;
  margin-right: 1px;
}

.F6PT  { font-size:  6pt; }
.F7PT  { font-size:  7pt; }
.F8PT  { font-size:  8pt; }
.F9PT  { font-size:  9pt; }
.F10PT { font-size: 10pt; }
.F11PT { font-size: 11pt; }
.F12PT { font-size: 12pt; }
.F13PT { font-size: 13pt; }
.F14PT { font-size: 14pt; }
.F15PT { font-size: 15pt; }
.F16PT { font-size: 16pt; }
.F17PT { font-size: 17pt; }
.F18PT { font-size: 18pt; }
.F189T { font-size: 19pt; }
.F20PT { font-size: 20pt; }
.F21PT { font-size: 21pt; }
.F22PT { font-size: 22pt; }
.F23PT { font-size: 23pt; }
.F24PT { font-size: 24pt; }
.F25PT { font-size: 25pt; }
.F26PT { font-size: 26pt; }
.F27PT { font-size: 27pt; }
.F28PT { font-size: 28pt; }
.F29PT { font-size: 29pt; }
.F30PT { font-size: 30pt; }
.F31PT { font-size: 31pt; }
.F32PT { font-size: 32pt; }
.F33PT { font-size: 33pt; }
.F34PT { font-size: 34pt; }
.F35PT { font-size: 35pt; }
.F36PT { font-size: 36pt; }
.F37PT { font-size: 37pt; }
.F38PT { font-size: 38pt; }
.F389T { font-size: 39pt; }
.F40PT { font-size: 40pt; }
.F41PT { font-size: 41pt; }
.F42PT { font-size: 42pt; }
.F43PT { font-size: 43pt; }
.F44PT { font-size: 44pt; }
.F45PT { font-size: 45pt; }
.F46PT { font-size: 46pt; }
.F47PT { font-size: 47pt; }
.F48PT { font-size: 48pt, }

.LH6PT  { line-height:  6pt; }
.LH7PT  { line-height:  7pt; }
.LH8PT  { line-height:  8pt; }
.LH9PT  { line-height:  9pt; }
.LH10PT { line-height: 10pt; }
.LH11PT { line-height: 11pt; }
.LH12PT { line-height: 12pt; }
.LH13PT { line-height: 13pt; }
.LH14PT { line-height: 14pt; }
.LH15PT { line-height: 15pt; }
.LH16PT { line-height: 16pt; }
.LH17PT { line-height: 17pt; }
.LH18PT { line-height: 18pt; }
.LH189T { line-height: 19pt; }
.LH20PT { line-height: 20pt; }
.LH21PT { line-height: 21pt; }
.LH22PT { line-height: 22pt; }
.LH23PT { line-height: 23pt; }
.LH24PT { line-height: 24pt; }
.LH25PT { line-height: 25pt; }
.LH26PT { line-height: 26pt; }
.LH27PT { line-height: 27pt; }
.LH28PT { line-height: 28pt; }
.LH29PT { line-height: 29pt; }
.LH30PT { line-height: 30pt; }
.LH31PT { line-height: 31pt; }
.LH32PT { line-height: 32pt; }
.LH33PT { line-height: 33pt; }
.LH34PT { line-height: 34pt; }
.LH35PT { line-height: 35pt; }
.LH36PT { line-height: 36pt; }
.LH37PT { line-height: 37pt; }
.LH38PT { line-height: 38pt; }
.LH389T { line-height: 39pt; }
.LH40PT { line-height: 40pt; }
.LH41PT { line-height: 41pt; }
.LH42PT { line-height: 42pt; }
.LH43PT { line-height: 43pt; }
.LH44PT { line-height: 44pt; }
.LH45PT { line-height: 45pt; }
.LH46PT { line-height: 46pt; }
.LH47PT { line-height: 47pt; }
.LH48PT { line-height: 48pt; }


@media (max-width: #{$BREAK}px){
  .CONTAINER{
    max-width: 100%;
    width: 100%;
  }
  .F6PT  { font-size: calc(  6vw * 400 / (#{$BREAK} * 3));}
  .F7PT  { font-size: calc(  7vw * 400 / (#{$BREAK} * 3));}
  .F8PT  { font-size: calc(  8vw * 400 / (#{$BREAK} * 3));}
  .F9PT  { font-size: calc(  9vw * 400 / (#{$BREAK} * 3));}
  .F10PT { font-size: calc( 10vw * 400 / (#{$BREAK} * 3));}
  .F11PT { font-size: calc( 11vw * 400 / (#{$BREAK} * 3));}
  .F12PT { font-size: calc( 12vw * 400 / (#{$BREAK} * 3));}
  .F13PT { font-size: calc( 13vw * 400 / (#{$BREAK} * 3));}
  .F14PT { font-size: calc( 14vw * 400 / (#{$BREAK} * 3));}
  .F15PT { font-size: calc( 15vw * 400 / (#{$BREAK} * 3));}
  .F16PT { font-size: calc( 16vw * 400 / (#{$BREAK} * 3));}
  .F17PT { font-size: calc( 17vw * 400 / (#{$BREAK} * 3));}
  .F18PT { font-size: calc( 18vw * 400 / (#{$BREAK} * 3));}
  .F19PT { font-size: calc( 19vw * 400 / (#{$BREAK} * 3));}
  .F20PT { font-size: calc( 20vw * 400 / (#{$BREAK} * 3));}
  .F21PT { font-size: calc( 21vw * 400 / (#{$BREAK} * 3));}
  .F22PT { font-size: calc( 22vw * 400 / (#{$BREAK} * 3));}
  .F23PT { font-size: calc( 23vw * 400 / (#{$BREAK} * 3));}
  .F24PT { font-size: calc( 24vw * 400 / (#{$BREAK} * 3));}
  .F25PT { font-size: calc( 25vw * 400 / (#{$BREAK} * 3));}
  .F26PT { font-size: calc( 26vw * 400 / (#{$BREAK} * 3));}
  .F27PT { font-size: calc( 27vw * 400 / (#{$BREAK} * 3));}
  .F28PT { font-size: calc( 28vw * 400 / (#{$BREAK} * 3));}
  .F29PT { font-size: calc( 29vw * 400 / (#{$BREAK} * 3));}
  .F30PT { font-size: calc( 30vw * 400 / (#{$BREAK} * 3));}
  .F31PT { font-size: calc( 31vw * 400 / (#{$BREAK} * 3));}
  .F32PT { font-size: calc( 32vw * 400 / (#{$BREAK} * 3));}
  .F33PT { font-size: calc( 33vw * 400 / (#{$BREAK} * 3));}
  .F34PT { font-size: calc( 34vw * 400 / (#{$BREAK} * 3));}
  .F35PT { font-size: calc( 35vw * 400 / (#{$BREAK} * 3));}
  .F306T { font-size: calc( 36vw * 400 / (#{$BREAK} * 3));}
  .F37PT { font-size: calc( 37vw * 400 / (#{$BREAK} * 3));}
  .F38PT { font-size: calc( 38vw * 400 / (#{$BREAK} * 3));}
  .F39PT { font-size: calc( 39vw * 400 / (#{$BREAK} * 3));}
  .F40PT { font-size: calc( 40vw * 400 / (#{$BREAK} * 3));}
  .F41PT { font-size: calc( 41vw * 400 / (#{$BREAK} * 3));}
  .F42PT { font-size: calc( 42vw * 400 / (#{$BREAK} * 3));}
  .F43PT { font-size: calc( 43vw * 400 / (#{$BREAK} * 3));}
  .F44PT { font-size: calc( 44vw * 400 / (#{$BREAK} * 3));}
  .F45PT { font-size: calc( 45vw * 400 / (#{$BREAK} * 3));}
  .F46PT { font-size: calc( 46vw * 400 / (#{$BREAK} * 3));}
  .F47PT { font-size: calc( 47vw * 400 / (#{$BREAK} * 3));}
  .F48PT { font-size: calc( 48vw * 400 / (#{$BREAK} * 3));}

  .LH6PT  { line-height: calc(  6vw * 400 / (#{$BREAK} * 3));}
  .LH7PT  { line-height: calc(  7vw * 400 / (#{$BREAK} * 3));}
  .LH8PT  { line-height: calc(  8vw * 400 / (#{$BREAK} * 3));}
  .LH9PT  { line-height: calc(  9vw * 400 / (#{$BREAK} * 3));}
  .LH10PT { line-height: calc( 10vw * 400 / (#{$BREAK} * 3));}
  .LH11PT { line-height: calc( 11vw * 400 / (#{$BREAK} * 3));}
  .LH12PT { line-height: calc( 12vw * 400 / (#{$BREAK} * 3));}
  .LH13PT { line-height: calc( 13vw * 400 / (#{$BREAK} * 3));}
  .LH14PT { line-height: calc( 14vw * 400 / (#{$BREAK} * 3));}
  .LH15PT { line-height: calc( 15vw * 400 / (#{$BREAK} * 3));}
  .LH16PT { line-height: calc( 16vw * 400 / (#{$BREAK} * 3));}
  .LH17PT { line-height: calc( 17vw * 400 / (#{$BREAK} * 3));}
  .LH18PT { line-height: calc( 18vw * 400 / (#{$BREAK} * 3));}
  .LH19PT { line-height: calc( 19vw * 400 / (#{$BREAK} * 3));}
  .LH20PT { line-height: calc( 20vw * 400 / (#{$BREAK} * 3));}
  .LH21PT { line-height: calc( 21vw * 400 / (#{$BREAK} * 3));}
  .LH22PT { line-height: calc( 22vw * 400 / (#{$BREAK} * 3));}
  .LH23PT { line-height: calc( 23vw * 400 / (#{$BREAK} * 3));}
  .LH24PT { line-height: calc( 24vw * 400 / (#{$BREAK} * 3));}
  .LH25PT { line-height: calc( 25vw * 400 / (#{$BREAK} * 3));}
  .LH26PT { line-height: calc( 26vw * 400 / (#{$BREAK} * 3));}
  .LH27PT { line-height: calc( 27vw * 400 / (#{$BREAK} * 3));}
  .LH28PT { line-height: calc( 28vw * 400 / (#{$BREAK} * 3));}
  .LH29PT { line-height: calc( 29vw * 400 / (#{$BREAK} * 3));}
  .LH30PT { line-height: calc( 30vw * 400 / (#{$BREAK} * 3));}
  .LH31PT { line-height: calc( 31vw * 400 / (#{$BREAK} * 3));}
  .LH32PT { line-height: calc( 32vw * 400 / (#{$BREAK} * 3));}
  .LH33PT { line-height: calc( 33vw * 400 / (#{$BREAK} * 3));}
  .LH34PT { line-height: calc( 34vw * 400 / (#{$BREAK} * 3));}
  .LH35PT { line-height: calc( 35vw * 400 / (#{$BREAK} * 3));}
  .LH306T { line-height: calc( 36vw * 400 / (#{$BREAK} * 3));}
  .LH37PT { line-height: calc( 37vw * 400 / (#{$BREAK} * 3));}
  .LH38PT { line-height: calc( 38vw * 400 / (#{$BREAK} * 3));}
  .LH39PT { line-height: calc( 39vw * 400 / (#{$BREAK} * 3));}
  .LH40PT { line-height: calc( 40vw * 400 / (#{$BREAK} * 3));}
  .LH41PT { line-height: calc( 41vw * 400 / (#{$BREAK} * 3));}
  .LH42PT { line-height: calc( 42vw * 400 / (#{$BREAK} * 3));}
  .LH43PT { line-height: calc( 43vw * 400 / (#{$BREAK} * 3));}
  .LH44PT { line-height: calc( 44vw * 400 / (#{$BREAK} * 3));}
  .LH45PT { line-height: calc( 45vw * 400 / (#{$BREAK} * 3));}
  .LH46PT { line-height: calc( 46vw * 400 / (#{$BREAK} * 3));}
  .LH47PT { line-height: calc( 47vw * 400 / (#{$BREAK} * 3));}
  .LH48PT { line-height: calc( 48vw * 400 / (#{$BREAK} * 3));}
}


.row {
  width: 100%;
  margin: 0;
}

.card {
  width:100%;
  margin-right:0;
  border: none;
}

.card-body {
  padding: 0px;
}

.nav-button {
  font-size: 12pt;
  font-weight: bold;
  color: $primary;
  background: none;
  border: none;
}
.nav-button:disabled {
  color: $light;
}

.card-body {
  @extend .F12PT;
  @extend .LH36PT;
  font-weight: bold;
  color: black;
}

.name-edit-row {
  display: flex;
  border-bottom: 1 solid $light;
}

.name-input input {
  width: 100%;
  border: 0px;
}

::-webkit-input-placeholder { /* Edge */
  color: $light;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $light;
}

::placeholder {
  color: $light;
}

input[type=text] {
  -webkit-appearance: none;
}

input[type=text]::-ms-clear { display: none; }

.sd-control {
  @extend .F20PT;
  text-align-last: center;
  padding-left: 5px;
  padding-right: 5px;
}

.add {
  @extend .sd-control;
  color: green;
}

.delete {
  @extend .sd-control;
  color: red;
}


.add-label {
  padding-left: 0px;
 }

.add-row {
  @extend .LH30PT;
  display: flex;
  border-bottom: 1px solid $light;
  margin-bottom: 25px;
}

.del-row {
  @extend .LH30PT;
  display: flex;
  border-bottom: 1px solid $light;
}

 .delete-patient {
   @extend .LH24PT;
   color: red;
   width: 100%;
   border: none;
   background: $light;
   font-weight: bold;
   text-align: center;
 }

 .delete-patient:focus {
   border: none;
   outline: none;
   -webkit-box-shadow: none;
   box-shadow: none;
 }

 .delete-patient:active {
  border: none;
  outline: none;
}
