<div style="min-height: 65vh" class="card container col-6 offset-3">
    <div class="card-body">
      <h2 class="card-title">{{pageTitle}}</h2>
      <table class="table table-hover table-striped" style='text-align:left;'>
        <thead>
          <tr class='row text-primary' stype='font-weight: bold;'>
            <th class="col-8">Name</th>
            <th class="col-4">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class='row' *ngFor='let item of items.Data'>
            <td class="col-8">{{item.LastName + ', ' + item.FirstName}}</td>
            <td class="col-4">
              <a (click)='onDetail(item)' tabindex="1">edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='row'>
      <ngb-pagination class='col-9' [collectionSize]="items.Count" [pageSize]='items.PageSize' [(page)]="page" [maxSize]="5" [rotate]="true"
        [ellipses]="false" (pageChange)='onPageChange()' [boundaryLinks]="true"></ngb-pagination>
      <button class="col-2 btn btn-primary" (click)='onNew()'>Add</button>
    </div>
    <br />
  </div>
