<div class="sd-card sd-container">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-1" (click)='onBack()'>
        <div class="navigation">&lt;</div>
      </div>
      <div class="col-10">
        <div class="pagetitle" >{{pageTitle}}</div>
      </div>
      <div class="col-1" (click)='onAdd()'>
          <div class="navigation">+</div>
      </div>
    </div>
    <div class="row search">
      <div class="col-1" (click)="onSearch()">
        <img src="assets/Search_SM.svg">
      </div>
      <div class="col-9 search-input">
        <input placeholder="Search" type="text" class="form-control" style='border-left-width: 0;'>
      </div>
    </div>
    <table class="table table-hover table-striped" style='text-align:left;'>
      <tbody>
        <tr class='row' *ngFor='let item of items.Data' (click)='onDetail(item)'>
          <td class="col-1">
            <img src="assets/Patient_SM.svg" class="list-img" height="30px">
          </td>
          <td class="col-10">
            <div>
              <div class="data1">
                {{item.LastName + ', ' + item.FirstName}}
              </div>
              <div class="data2">
                {{item.AddressLine1 + ' ' + item.City + ", " + item.State + " " + item.ZipCode}}
              </div>
            </div>
          </td>
          <td class="col-1">
            <div class="list-nav" tabindex="1">&gt;</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='row'>
    <ngb-pagination class='col-9' [collectionSize]="items.Count" [pageSize]='items.PageSize' [(page)]="page"
      [maxSize]="5" [rotate]="true" [ellipses]="false" (pageChange)='onPageChange()' [boundaryLinks]="true">
    </ngb-pagination>
  </div>
  <br />
</div>
