<div class="sd-container d-flex ">
  <div class="row" style="width: 100%">
    <div class="card col-8 offset-2" style="border: 1 solid red;">
      <div class="card-body">

        <div class="row card-title">
          <div class="col-6">
            <div class="nav-button" (click)='onCancel()'>
                <span> Cancel</span>
            </div>
          </div>
          <div class="col-6">
            <div class="navigation-right" (click)='onDone()'>
              <button [disabled]='!bookForm.form.dirty' class="nav-button">Done </button>
            </div>
          </div>
        </div>
        <form #bookForm="ngForm" name="form">
          <div class="row">
            <div class="name-img">
              <img src="assets/Patient_MD.svg" width="100%" />
            </div>
            <div class="name-edit-area form-group" >
              <app-edit [(value)] = "item.LastName" placeholder="Last Name" id=lastName [(focus)]="focus"></app-edit>
              <app-edit [(value)] = "item.FirstName" placeholder="First Name" id=firstName [(focus)]="focus"></app-edit>
              <app-edit [(value)] = "item.MiddleName" placeholder="Middle Name" id=middleName [(focus)]="focus"></app-edit>
            </div>
          </div>
          <div class="add-row">
            <div class="add">
              <fa-icon [icon]="faPlusCircle" ></fa-icon>
            </div>
            <div class="add-label">add address</div>
          </div>
          <div class="add-row">
            <div class="add">
              <fa-icon [icon]="faPlusCircle" ></fa-icon>
            </div>
            <div class="add-label">add contact information</div>
          </div>
          <div class="add-row">
            <div class="add">
              <fa-icon [icon]="faPlusCircle" ></fa-icon>
            </div>
            <div class="add-label">add demographics</div>
          </div>
          <div class="add-row">
            <div class="add">
              <fa-icon [icon]="faPlusCircle" ></fa-icon>
            </div>
            <div class="add-label">add insurance information</div>
          </div>
          <div class="add-row">
            <div class="add">
              <fa-icon [icon]="faPlusCircle" ></fa-icon>
            </div>
            <div class="add-label">add file note</div>
          </div>
        </form>

        <button class="delete-patient">Delete Patient</button>
      </div>
    </div>
  </div>
</div>
