@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap";

// SecureDaySheet 4.3.1
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" !default;
@import url($web-font-path);

// Navbar ======================================================================

.bg-primary {
  background-color: $dark !important;
}

.bg-dark {
  background-color: $secondary !important;
}

.bg-light {
  background-color: $gray-200 !important;
}

.secureDaySheet {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
}

h2 {
  color: $primary
}

.navbar {
  font-size: 40px;
  line-height: 50px;
  font-weight: bolder;

  &-brand {

    &-title{
      color: $primary;
      border-bottom: 4px solid transparent;
      border-image: linear-gradient(to right, $primary  0%, $primary  80%, $dark 100%);
      border-image-slice: 1;
      }

  }

  &-form input,
  &-form .form-control {
    border: none;
  }
}

// Buttons =====================================================================

.btn {
  @extend .secureDaySheet;
  font-size: 10px;
  text-transform: uppercase;

  &:hover {
    border-color: transparent;
  }

  &-success,
  &-warning {
    color: $white;
  }
}

// Typography ==================================================================

// Tables ======================================================================

.table {
  .thead-dark th {
    background-color: $dark;
  }
}

// Forms =======================================================================

input,
.form-control {
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

// Navs ========================================================================

.nav-tabs {
  .nav-link {
    @extend .secureDaySheet;
    background-color: $gray-200;
    border-color: $gray-300;
  }

  .nav-link,
  .nav-link:hover,
  .nav-link:focus {
    color: $gray-600;
  }

  .nav-link.disabled,
  .nav-link.disabled:hover,
  .nav-link.disabled:focus {
    background-color: $gray-200;
    border-color: $gray-300;
    color: $nav-link-disabled-color;
  }
}

.nav-pills {
  .nav-link {
    @extend .secureDaySheet;
    border: 1px solid transparent;
    color: $gray-600;
  }

  .nav-link.active,
  .nav-link:hover,
  .nav-link:focus {
    background-color: $gray-200;
    border-color: $gray-300;
  }

  .nav-link.disabled,
  .nav-link.disabled:hover {
    background-color: transparent;
    border-color: transparent;
    color: $gray-300;
  }
}


.breadcrumb {
  @extend .secureDaySheet;
  border: 1px solid $gray-300;
}

.pagination {
  @extend .secureDaySheet;

  a:hover {
    text-decoration: none;
  }
}

.dropdown-menu {
  .dropdown-item {
    @extend .secureDaySheet;
  }
}

// Indicators ==================================================================

.alert {
  color: #fff;

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }

  &-primary {
    &, > th, > td {
      background-color: $primary;
    }
  }

  &-secondary {
    &, > th, > td {
      background-color: $secondary;
    }
  }

  &-success {
    &, > th, > td {
      background-color: $success;
    }
  }

  &-info {
    &, > th, > td {
      background-color: $info;
    }
  }

  &-danger {
    &, > th, > td {
      background-color: $danger;
    }
  }

  &-warning {
    &, > th, > td {
      background-color: $warning;
    }
  }

  &-dark {
    &, > th, > td {
      background-color: $dark;
    }
  }

  &-light {
    &, > th, > td {
      background-color: $light;
    }
  }

  &-light {
    &,
    & a:not(.btn),
    & .alert-link {
      color: $body-color;
    }
  }
}

.badge {

  &-success,
  &-warning {
    color: $white;
  }
}

.tooltip {
  @extend .secureDaySheet;
}

.close {
  color: $gray-300;
  opacity: 1;

  &:hover {
    color: darken($gray-300, 20%);
  }
}

// Progress bars ===============================================================

// Containers ==================================================================
.sd-container {
  @extend .container;
  @extend .col-8;
  @extend .offset-2;
  min-height: 87vh;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search {
  background-color: $light;
  height: 80;
  margin-bottom: 10px;

  &-input{
      display: flex;
    align-items: center;
  }
}

.sd-card {
  @extend .card;
  border: none;
}
